{% extends 'layouts/main.html' %}
{% block title %}{% if actor %} Edit Actor {% else %} New Actor {% endif %}{% endblock %}
{% block content %}
  <div class="form-wrapper">
  {% if actor %}
    <form class="edit-form" name="actors" data-id="{{ actor.id }}">
  {% else %}
    <form method="post" class="form">
  {% endif %}
      <h3 class="form-heading">Add a new actor</h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        {{ form.age(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        {{ form.gender(class_ = 'form-control', placeholder='Gender', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="image_link">Image Link</label>
        {{ form.image_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
      </div>
      
      {# <div class="form-group">
        <label for="website">Website</label>
        {{ form.website(class_ = 'form-control', placeholder='http://', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="facebook-link">Facebook Link</label>
        {{ form.facebook_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
      </div> #}
      {% if actor %}
        <input type="submit" class="btn btn-primary btn-lg btn-block" name="actors" value="Edit Actor" data-id="{{ actor.id }}">
      {% else %}
        <input type="submit" value="Create Actor" class="btn btn-primary btn-lg btn-block">
      {% endif %}
      {{ form.csrf_token() }}
    </form>
  </div>
{% endblock %}